.form.get-coord{
    background-color: rgb(68, 54, 54);
    border : 10px;
    padding: 10px;
    margin : 10px;
    width : 580px;
    height: 440px;
    display      : block;
    border-radius: 30px;
    /* float        : left; */
}

div#coord-in{
    background-color: rgba(0, 105, 92, 1);
    /* font-size       : 20px; */
    border : 10px;
    padding: 10px;
    margin : 10px;
    width  : 250px;
    height : 400px;
    display   : block;
    float: left;
    border-radius: 30px;
}

input{
    background-color: rgb(23, 32, 42,1);
    color           : rgba(213, 216, 220 ,1) ;
    margin : 10px;
    border : 10px;
    padding: 5% 0 5% 0;
    border-radius: 30px;
    text-align: center ;
    display: block;
    float: none;
    font-size: 15px;
    width: 90%;

}
.lbl-input{
    margin : 10px;
    border : 10px;
    padding: 10px 0 10px 0;
    display: block;
    float: none;
    font-size: 15px;
    text-align: center;
}

div#coord-out{
    background-color: rgba(0, 105, 92, 1);
    /* font-size       : 20px; */
    border : 10px;
    padding: 10px;
    margin : 10px;
    width  : 250px;
    height : 400px;
    display: block;
    float  : left;
    border-radius: 30px;
}

div.container{
    background-color: rgb(23, 32, 42,1);
    margin: 10px;
    border: 10px;
    padding: 10% 0 10% 0;
    border-radius: 30px;
}

.lbl-out{
    margin : 10px;
    border : 10px;
    padding: 10px;
    /* display: inline-flex; */
    /* float: inline-start; */
    font-size: 15px;
}

.lbl-header{
    display: block;
    float: none;
    text-align: center;
}