.form.select-coord{
    background-color: rgba(0, 105, 92, 1); 
    padding: 10px;
    border : 10px;
    margin : 10px;
    width  : 480px;
    height : 65px;
    border-radius: 30px;
    display      : block;
    align-items: center;
    
}

.selector{
    color    : rgba(213, 216, 220 ,1);
    font-size: 20px;
    display  : block;
    align-items: center;
    float: none;
    /* background-color: rgba( 244, 244, 0, 0.5 ); */
}

.selector label{
    margin : 10px;
    border : 10px;
    padding: 10px;
    align-items: center;
    display: block;
    float: left;
    align-self: center;
}

.selector select{
    padding: 10px;
    border : 10px;
    margin : 10px;
    font-size: 20px;
    border-radius: 20px;
    width: 200px;
    background-color:  rgb(23, 32, 42,1);
    color: rgba(213, 216, 220 ,1) ;
    display: block;
    float: left;
    align-self: center;
}

.get-coord{
    color: aliceblue;
    display: table;
}

.lbl-input{
    display: flex;
}

.lbl-out{
    display: flexbox;
}