/*
Paleta de colores de este documento:
Textos: rgba( 93, 109, 126, 1 ); 
Fondo principal: rgba(23, 32, 42,1);
Formularios Fondo Principal: rgba(0, 105, 92, 1); 

*/
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba( 93, 109, 126, 1 );
    background-color: rgb(23, 32, 42,1);
}
